

.container {
    background-color:#AE342E;
    color:white;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: #F17F28;
}
.comp-heading {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F17F28;
    width: 100%;
}

.stages {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F17F28;
}
.comp-text {
    font-weight: bold;
}
.file {
    display: none;
}

.feedLinks {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F17F28;
    width: 100%;
}
.input-group-text {
    background-color: transparent;
    border: none;
}
.handPhoto {
    position: relative;
    top: -80px;
}
.gainsFeed2 {
    z-index: 10;
    position: relative;
    right: 80px;
}
}
/*Orange:                #F17F28*/

/*Red:                       #AE342E*/

/*Blue:                      #043673*/
